<div class="container mt-4">
    <div class="row">
        <div class="col-6 text-center">
            <img src="../../../assets/img/undraw_pie_chart_6efe.png" class="img-fluid custom-img" />
            <a [routerLink]="['/pastel']" class="btn btn-dark"  role="button" aria-disabled="true">Ver gráfica</a>
        </div>
        <div class="col-6 text-center">
            <img src="../../../assets/img/undraw_visual_data_b1wx.png" class="img-fluid custom-img"/>
            <a [routerLink]="['/histograma']" class="btn btn-dark"  role="button" aria-disabled="true">Ver gráfica</a>
        </div>
    </div>
</div>
