.main-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-login{
    max-width: 100%;
    width: 30rem;
    border: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.text-error{
    color: #f03434!important;
}

.btn-login{
    background-color: #22313f!important;
}

.custom-img{
    max-height: 15rem;
}

.link-green {
    color: #00BFA6!important;
}