<div class="container main-container">
    <div class="card card-login">
        <div class="card-body">
            <h5>Iniciar sesión</h5>
            <form>
                <div class="form-group mt-4">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group mt-4">
                    <input type="password" class="form-control" placeholder="Contraseña">
                    <small id="emailHelp" class="form-text text-muted text-error">El usuario o contraseña son inválidos.</small>
                </div>
                <button type="button" class="btn btn-primary btn-block btn-dark mt-2">INICIAR SESIÓN</button>
                <button type="button" class="btn btn-link btn-block" (click)="goToSignUp()">Registrarme</button>
            </form>
        </div>
    </div>
</div>